/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI', sans-serif;
}

/* BODY */
body{

  background:red;

  background:#0b1220;
  color:#fff;
  overflow-x:hidden;
}

/* SIDE GLOW */
body::before{
  content:"";
  position:fixed;
  width:400px;
  height:400px;
  background:#2563eb;
  filter:blur(150px);
  top:-100px;
  left:-100px;
  z-index:-1;
}

body::after{
  content:"";
  position:fixed;
  width:400px;
  height:400px;
  background:#7c3aed;
  filter:blur(150px);
  bottom:-100px;
  right:-100px;
  z-index:-1;
}

/* NAVBAR */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(10px);
}

nav a{
  margin-left:25px;
  text-decoration:none;
  color:#ddd;
  transition:0.3s;
}

nav a:hover{
  color:#fff;
}

/* HERO */
.hero{
  height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero h1{
  font-size:52px;
  background:linear-gradient(90deg,#60a5fa,#a78bfa);
  -webkit-background-clip:text;
  color:transparent;
}

.hero p{
  margin-top:20px;
  color:#ccc;
}

/* BUTTON */
.btn{
  margin-top:25px;
  display:inline-block;
  padding:12px 30px;
  background:linear-gradient(90deg,#2563eb,#7c3aed);
  color:#fff;
  border-radius:6px;
  text-decoration:none;
}

/* SECTION */
section{
  padding:100px 20px;
  text-align:center;
}

section h2{
  font-size:36px;
  margin-bottom:20px;
}

/* SERVICES */
.cards{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
  margin-top:50px;
}

.card{
  background:rgba(255,255,255,0.05);
  padding:30px;
  width:280px;
  border-radius:15px;
  backdrop-filter:blur(10px);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
}

/* ABOUT */
.about-text{
  max-width:700px;
  margin:auto;
  color:#bbb;
}

/* CTA */
.cta{
  background:linear-gradient(135deg,#2563eb,#7c3aed);
  padding:80px 20px;
  border-radius:20px;
  margin:40px;
}

/* FOOTER */
footer{
  padding:20px;
  text-align:center;
  color:#aaa;
}